.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheading {
    font-size: 26px;
    color: black;
}


.cards {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.card {
    width: 40%;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
}


.card .rating {
    color: #4C73FF;
}

.shuffle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 5%;
    align-content: baseline;
    right: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.shuffle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 5%;
    align-content: baseline;
    left: 0;
}

.arrow2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.card img {
    height: 13em;
    width: auto;
    display: block;
    margin: 0 auto;
}
