.footer {
    background-color: #3E68FF;
    color: white;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3E68FF;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.footer p {
    margin-left: 2em;
    width: 50%;
}