.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.header {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    background-image: url('../img/HotelBeach.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    background-color: #EBEBEB;
    height: 30px;
    margin: 0 0 1rem 0;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    border: none;
}


.search-bar svg {
    color: #484848;
    margin-top: 0.5rem;
}



.form {
    background-color: #f5f5f5; /* Add a light background color */
    border-radius: 1.5rem; /* Add rounded corners */
    display: flex; /* Inherit flexbox for horizontal arrangement */
    margin: auto; /* Center the search bar horizontally */
    padding-top: 5px;
    height: 55px;
    width: 80%;
    justify-content: center;
}

.form-input {
    width: 100%;
    text-align: center;
    font-size: medium;
}

 #destination{
    border-radius: 1.5rem 0 0 1.5rem;
}

#search_button {
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background: #3E68FF;
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bolder;
}

.button-link {
    display: flex; /* Ensure the anchor tag doesn't fill the entire width */
    width: 60vw;
    /* Apply any necessary styles to ensure consistency */
    /* For example: */
    text-decoration: none; /* Remove underline */
}

#search_button:hover {
    opacity: 0.8;
}

form input[type="text"] {
    padding: 5px;
    border: 1px solid #EBEBEB;
}


.header .search-container-header input[type=text] {
    padding: 6px 40px;
    font-size: 17px;
    border: none;
    border-radius: 15px;
}


.login-button {
    padding: 10px 45px;
    background-color: #EBEBEB;
    color: black;
    border: none;
    border-radius: 12px;
}

.settings {
    padding: 10px 45px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 12px;
}

.settings img {
    width: 1em;
    height: auto;
}

.settings:hover {
    background-color: lightgray;
}

.subheading {
    font-size: 26px;
    color: black;
}

.cards {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.card {
    width: 40%;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
}


.card .rating {
    color: #4C73FF;
}

.shuffle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 5%;
    align-content: baseline;
    right: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.shuffle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: 5%;
    align-content: baseline;
    left: 0;
}

.arrow2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.card img {
    height: 13em;
    width: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #3E68FF;
    color: white;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3E68FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

footer p {
    margin-left: 2em;
    width: 50%;
}

body {
    overflow-x: auto;
    margin: 0;
}

body.fullscreen {
overflow-x: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 0.5em;
    color: #333333;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.settings-dropdown:hover .dropdown-content {display: block;}

.login-button,
.settings-dropdown {
    display: inline-block;
    vertical-align: middle;
}

.Why_choose\? {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Why_choose\?-info_idk {
    height: 300px;
    width: 200px;
}




